{% extends 'baiter/base.html' %}
{% load static %}


{% block content %}
<!-- START CLIENTS SECTION -->
<section id="about" class="p-md-0 pb-0">
	<div class="container">
    	<div class="row align-items-center text-center">
            <div class="col-md-12">
                <div class="radius_box bg-white banner_partner_logo">
                    <div class="row">
                        <div class="col-lg-2 col-md-4 col-6">
                            <div class="px-3 py-2 p-md-2 animation" data-animation="fadeInUp" data-animation-delay="0.3s"> 
                                <img src="assets/images/client_logo_dark_gray1.png" alt="client_logo_dark_gray1" />
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-6">
                            <div class="px-3 py-2 p-md-2 animation" data-animation="fadeInUp" data-animation-delay="0.4s"> 
                                <img src="assets/images/client_logo_dark_gray2.png" alt="client_logo_dark_gray2" />
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-6">
                            <div class="px-3 py-2 p-md-2 animation" data-animation="fadeInUp" data-animation-delay="0.5s"> 
                                <img src="assets/images/client_logo_dark_gray3.png" alt="client_logo_dark_gray3" /> 
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-6">
                            <div class="px-3 py-2 p-md-2 animation" data-animation="fadeInUp" data-animation-delay="0.6s"> 
                                <img src="assets/images/client_logo_dark_gray4.png" alt="client_logo_dark_gray4" /> 
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-6">
                            <div class="px-3 py-2 p-md-2 animation" data-animation="fadeInUp" data-animation-delay="0.7s"> 
                                <img src="assets/images/client_logo_dark_gray5.png" alt="client_logo_dark_gray5" /> 
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-6">
                            <div class="px-3 py-2 p-md-2 animation" data-animation="fadeInUp" data-animation-delay="0.8s"> 
                                <img src="assets/images/client_logo_dark_gray6.png" alt="client_logo_dark_gray6" /> 
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-6">
                            <div class="px-3 py-2 p-md-2 animation" data-animation="fadeInUp" data-animation-delay="0.8s"> 
                                <img src="assets/images/client_logo_dark_gray6.png" alt="client_logo_dark_gray6" /> 
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-6">
                            <div class="px-3 py-2 p-md-2 animation" data-animation="fadeInUp" data-animation-delay="0.8s"> 
                                <img src="assets/images/client_logo_dark_gray6.png" alt="client_logo_dark_gray6" /> 
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-6">
                            <div class="px-3 py-2 p-md-2 animation" data-animation="fadeInUp" data-animation-delay="0.8s"> 
                                <img src="assets/images/client_logo_dark_gray6.png" alt="client_logo_dark_gray6" /> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END CLIENTS SECTION -->

<!-- START SECTION TOKEN SALE -->
<section id="token" class="section_token token_sale overflow_hide">
	<div class="container">
        
			<div class="col-lg-12 offset-lg-3 col-md-12 col-sm-12">
                <div class="title_blue_dark title_border text-center">
                    <h4 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">خرید و فروش ارز </h4>
                </div>
			</div>
       
        <div class="row">
        	<div class="col-md-12">
            	<ul class="list_none doc_list">
                	<li class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    	<a href="#">خرید <span><i class="fa fa-file-pdf-o"></i></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row small_space">
        	<div class="col-lg-8">
            	<div class="token_info_table h-100">
            		<table class="table table-navy-blue m-0 h-100">
                    	<tbody>
                            <tr class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                              <td>نام کاربری </td>
                              <td>ارز</td>
                              <td>مقدار</td>
                              <td>میزان</td>
                              <td>اختلاف</td>
                              <td></td>
                            </tr>
                            <tr class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                              <td>Ending Time :</td>
                              <td>JUN 18,2018</td>
                              <td>JUN 18,2018</td>
                              <td>JUN 18,2018</td>
                              <td>JUN 18,2018</td>
                            </tr>
                            <tr class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                              <td>Soft cap :</td>
                              <td>90,000 BCC</td>
                              <td>90,000 BCC</td>
                              <td>90,000 BCC</td>
                              <td>90,000 BCC</td>
                            </tr>
                            <tr class="animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                              <td>Hard cap :</td>
                              <td>55,000 BCC</td>
                              <td>55,000 BCC</td>
                              <td>55,000 BCC</td>
                              <td>55,000 BCC</td>
                            </tr>
                            <tr class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">
                              <td>TOken :</td>
                              <td>BCC Token</td>
                              <td>BCC Token</td>
                              <td>BCC Token</td>
                              <td>BCC Token</td>
                            </tr>
                            <tr class="animation" data-animation="fadeInUp" data-animation-delay="0.7s">
                              <td>Exchange Rate :</td>
                              <td>1 BTC = 1940 BCC</td>
                              <td>1 BTC = 1940 BCC</td>
                              <td>1 BTC = 1940 BCC</td>
                              <td>1 BTC = 1940 BCC</td>
                            </tr>
                            <tr class="animation" data-animation="fadeInUp" data-animation-delay="0.8s">
                              <td>Token Sale :</td>
                              <td>85,000 BCC (8%)</td>
                              <td>85,000 BCC (8%)</td>
                              <td>85,000 BCC (8%)</td>
                              <td>85,000 BCC (8%)</td>
                            </tr>
                  		</tbody>
                    </table>
                    <div>
                        <a href="#" class="btn btn-default btn-radius mgt animation" data-animation="fadeInUp" data-animation-delay="0.4s"> نمایش همه <i class="ion-ios-arrow-thin-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
            	<div class="bg_navy_blue token_dt res_md_mt_30 res_xs_mt_100">
                    <div class="row align-items-center h-100">
                        <div class="col-lg-5">
                        	<div class="token_detail text-center res_md_mt_30 res_xs_mt_20">
                            	<ul class="list_none">
                                	<li class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                                    	<h4>1 BCC = $32.21</h4>
                                    	<span>Private Sale</span>
                                    </li>
                                    <li class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                                    	<h4>$ 1.4814.45.24</h4>
                                    	<span>Raised</span>
                                    </li>
                                    <li class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">
                                    	<h4>BTC, ETH, LTC</h4>
                                    	<span>Acceptable Currency</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                	</div>
                </div>  
            </div>
        </div>
        
        <div class="divider large_divider"></div>
    </div>
    <div class="container">
        <div class="row">
        	<div class="col-md-12">
            	<ul class="list_none doc_list">
                	<li class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                    	<a href="#">فروش<span><i class="fa fa-file-pdf-o"></i></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row small_space">
        	<div class="col-lg-8">
            	<div class="token_info_table h-100">
            		<table class="table table-navy-blue m-0 h-100">
                    	<tbody>
                            <tr class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                                <td>نام کاربری </td>
                                <td>ارز</td>
                                <td>مقدار</td>
                                <td>میزان</td>
                                <td>اختلاف</td>
                                <td></td>
                            </tr>
                            <tr class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                              <td>Ending Time :</td>
                              <td>JUN 18,2018</td>
                              <td>JUN 18,2018</td>
                              <td>JUN 18,2018</td>
                              <td>JUN 18,2018</td>
                            </tr>
                            <tr class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                              <td>Soft cap :</td>
                              <td>90,000 BCC</td>
                              <td>90,000 BCC</td>
                              <td>90,000 BCC</td>
                              <td>90,000 BCC</td>
                            </tr>
                            <tr class="animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                              <td>Hard cap :</td>
                              <td>55,000 BCC</td>
                              <td>55,000 BCC</td>
                              <td>55,000 BCC</td>
                              <td>55,000 BCC</td>
                            </tr>
                            <tr class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">
                              <td>TOken :</td>
                              <td>BCC Token</td>
                              <td>BCC Token</td>
                              <td>BCC Token</td>
                              <td>BCC Token</td>
                            </tr>
                            <tr class="animation" data-animation="fadeInUp" data-animation-delay="0.7s">
                              <td>Exchange Rate :</td>
                              <td>1 BTC = 1940 BCC</td>
                              <td>1 BTC = 1940 BCC</td>
                              <td>1 BTC = 1940 BCC</td>
                              <td>1 BTC = 1940 BCC</td>
                            </tr>
                            <tr class="animation" data-animation="fadeInUp" data-animation-delay="0.8s">
                              <td>Token Sale :</td>
                              <td>85,000 BCC (8%)</td>
                              <td>85,000 BCC (8%)</td>
                              <td>85,000 BCC (8%)</td>
                              <td>85,000 BCC (8%)</td>
                            </tr>
                  		</tbody>
                    </table>
                    <div>
                        <a href="#" class="btn btn-default btn-radius mgt animation" data-animation="fadeInUp" data-animation-delay="0.4s"> نمایش همه <i class="ion-ios-arrow-thin-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
            	<div class="bg_navy_blue token_dt res_md_mt_30 res_xs_mt_100">
                    <div class="row align-items-center h-100">
                    	<div class="col-lg-7">
                            <div class="tk_counter_inner text-center">
                                <div class="tk_countdown_time p-0 transparent_bg box_shadow_none animation" data-animation="fadeInUp" data-animation-delay="0.2s" data-time="2019/02/06 00:00:00"></div>
                                <div class="progress animation" data-animation="fadeInUp" data-animation-delay="0.3s">
                                <div class="progress-bar progress-bar-striped gradient" role="progressbar" aria-valuenow="46" aria-valuemin="0" aria-valuemax="100" style="width:46%"> 46% </div>
                                    <span class="progress_label bg-white" style="left: 30%"> <strong> 46,000 BCC </strong></span>
                                    <span class="progress_label bg-white" style="left: 75%"> <strong> 90,000 BCC </strong></span>
                                    <span class="progress_min_val">Sale Raised</span>
                                    <span class="progress_max_val">Soft-caps</span>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="#" class="btn btn-default btn-radius animation" data-animation="fadeInUp" data-animation-delay="0.4s">Buy Tokens <i class="ion-ios-arrow-thin-right"></i></a>
                                    <ul class="icon_list list_none d-flex justify-content-center">
                                        <li class="animation" data-animation="fadeInUp" data-animation-delay="0.4s"><i class="fa fa-cc-visa"></i></li>
                                        <li class="animation" data-animation="fadeInUp" data-animation-delay="0.5s"><i class="fa fa-cc-mastercard"></i></li>
                                        <li class="animation" data-animation="fadeInUp" data-animation-delay="0.6s"><i class="fa fa-bitcoin"></i></li>
                                        <li class="animation" data-animation="fadeInUp" data-animation-delay="0.7s"><i class="fa fa-paypal"></i></li>
                                    </ul> 
                                </div>                       
                            </div>
                        </div>
                        <div class="col-lg-5">
                        	<div class="token_detail text-center res_md_mt_30 res_xs_mt_20">
                            	<ul class="list_none">
                                	<li class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                                    	<h4>1 BCC = $32.21</h4>
                                    	<span>Private Sale</span>
                                    </li>
                                    <li class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                                    	<h4>$ 1.4814.45.24</h4>
                                    	<span>Raised</span>
                                    </li>
                                    <li class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">
                                    	<h4>BTC, ETH, LTC</h4>
                                    	<span>Acceptable Currency</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                	</div>
                </div>  
            </div>
        </div>
        
        <div class="divider large_divider"></div>
    </div>
</section>
<!-- END SECTION TOKEN SALE --> 


<!-- START SECTION webloge -->
<section id="bity_mag" class="bg_navy_blue">
    <div class="container">
        
        <div class="col-lg-12 offset-lg-3 col-md-12 col-sm-12">
            <div class="title_default_light title_border text-center">
                <h4 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">بیتی مگ</h4>
                <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">آخرین مطالب سایت </p>
            </div>
        </div>

        <div class="row home-posts">
            <div class="col-md-4">
                <article class="card-post">
                    <div class="card-post-img fl-wrap">
                        <a href="blog-single.html"><img src="{% static 'images/all/15.jpg' %}"   alt=""></a>
                    </div>
                    <div class="card-post-content fl-wrap">
                        <h3><a href="blog-single.html">پست</a></h3>
                        <p> در ادامه برگزاری دوره‌ها و کارگاه‌های آموزشی فصلی زاویه، دوره‌های زمستانی زاویه با عناوین و اساتید جدید تعریف شده اند. برای برگزاری هرچه با کیفیت تر این رویدادها زاویه با همکاری نوآوا دوره‌های  </p>
                        <div class="post-author"><a href="#"><img src="{% static 'images/avatar/4.jpg' %}" alt=""><span>By , Alisa Noory</span></a></div>
                        <div class="post-opt">
                            <ul>
                                <li><i class="fa fa-calendar-check-o"></i> <span>25 April 2018</span></li>
                                <li><i class="fa fa-eye"></i> <span>264</span></li>
                                <li><i class="fa fa-tags"></i> <a href="#">Photography</a>  </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="card-post">
                    <div class="card-post-img fl-wrap">
                        <a href="blog-single.html"><img  src="{% static 'images/all/18.jpg' %}"   alt=""></a>
                    </div>
                    <div class="card-post-content fl-wrap">
                        <h3><a href="blog-single.html">پست</a></h3>
                        <p> در ادامه برگزاری دوره‌ها و کارگاه‌های آموزشی فصلی زاویه، دوره‌های زمستانی زاویه با عناوین و اساتید جدید تعریف شده اند. برای برگزاری هرچه با کیفیت تر این رویدادها زاویه با همکاری نوآوا دوره‌های  </p>
                        <div class="post-author"><a href="#"><img src="{% static 'images/avatar/5.jpg' %}" alt=""><span>By , Mery Lynn</span></a></div>
                        <div class="post-opt">
                            <ul>
                                <li><i class="fa fa-calendar-check-o"></i> <span>25 April 2018</span></li>
                                <li><i class="fa fa-eye"></i> <span>264</span></li>
                                <li><i class="fa fa-tags"></i> <a href="#">Design</a>  </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <article class="card-post">
                    <div class="card-post-img fl-wrap">
                        <a href="blog-single.html"><img  src="{% static 'images/all/19.jpg' %}"   alt=""></a>
                    </div>
                    <div class="card-post-content fl-wrap">
                        <h3><a href="blog-single.html">پست</a></h3>
                        <p> در ادامه برگزاری دوره‌ها و کارگاه‌های آموزشی فصلی زاویه، دوره‌های زمستانی زاویه با عناوین و اساتید جدید تعریف شده اند. برای برگزاری هرچه با کیفیت تر این رویدادها زاویه با همکاری نوآوا دوره‌های  </p>
                        <div class="post-author"><a href="#"><img src="{% static 'images/avatar/6.jpg' %}" alt=""><span>By , Garry Dee</span></a></div>
                        <div class="post-opt">
                            <ul>
                                <li><i class="fa fa-calendar-check-o"></i> <span>25 April 2018</span></li>
                                <li><i class="fa fa-eye"></i> <span>264</span></li>
                                <li><i class="fa fa-tags"></i> <a href="#">Stories</a>  </li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <a href="#" class="btn btn-border btn-radius">نمایش همه <i class="ion-ios-arrow-thin-right"></i></a> 
    </div>
</section>
<!-- END SECTION TEAM --> 

<!-- START SECTION FAQ -->
<section id="faq" class="small_pb">
	<div class="container">
    	<div class="row">
        	<div class="col-lg-12 col-md-12 offset-lg-2">
              <div class="title_blue_dark title_border text-center">
                <h4 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">سوالات متداول </h4>
                <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">Frequently asked questions (FAQ) or Questions and Answers (Q&A), are listed questions and answers, all supposed to be commonly asked in some context</p>
              </div>
            </div>
        </div>
        <div class="row small_space">
        	<div class="col-lg-8 col-md-12 offset-lg-2">
            	<div class="tab_content">
                    <ul class="nav nav-pills tab_nav_s2 justify-content-center" id="pills-tab" role="tablist">
                      <li class="nav-item animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                        <a class="active" data-toggle="tab" href="#tab1">سوالات عمومی</a>
                      </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                            <div id="accordion1" class="faq_question">
                                <div class="card animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                                  <div class="card-header" id="headingOne">
                                    <h6 class="mb-0"> <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What is cryptocurrency?</a> </h6>
                                  </div>
                                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion1">
                                    <div class="card-body"> The best cryptocurrency to buy is one we are willing to hold onto even if it goes down. For example, I believe in Steem enough that I am willing to hold it even if it goes down 99% and would start buying more of it if the price dropped.</div>
                                  </div>
                                </div>
                                <div class="card animation" data-animation="fadeInUp" data-animation-delay="0.6s">
                                  <div class="card-header" id="headingTwo">
                                    <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Which cryptocurrency is best to buy today?</a> </h6>
                                  </div>
                                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion1">
                                    <div class="card-body"> The best cryptocurrency to buy is one we are willing to hold onto even if it goes down. For example, I believe in Steem enough that I am willing to hold it even if it goes down 99% and would start buying more of it if the price dropped.</div>
                                  </div>
                                </div>
                                <div class="card animation" data-animation="fadeInUp" data-animation-delay="0.8s">
                                  <div class="card-header" id="headingThree">
                                    <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">How about day trading crypto?</a> </h6>
                                  </div>
                                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion1">
                                    <div class="card-body"> While profits are possible trading cryptocurrencies, so are losses. My first year involved me spending hundreds of hours trading Bitcoin with a result of losing over $5,000 with nothing to show for it. Simply trading digital currencies is very similar to gambling because no one really knows what is going to happen next although anyone can guess! While I was lucky to do nothing expect lose money when I started, the worst thing that can happen is to get lucky right away and get a big ego about what an amazing cryptocurrency trader we are. </div>
                                  </div>
                                </div>
                                <div class="card animation" data-animation="fadeInUp" data-animation-delay="1s">
                                  <div class="card-header" id="headingFour">
                                    <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">When to sell a cryptocurrency?</a> </h6>
                                  </div>
                                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion1">
                                    <div class="card-body"> Before Steem I was all in an another altcoin and really excited about it. When I first bought the price was low and made payments to me every week just for holding it. As I tried to participate in the community over the next several months, I was consistently met with a mix of excitement and hostility. When I began talking openly about this, the negative emotions won over in the community and in me. Originally I had invested and been happy to hold no matter what the price which quickly went up after I bought it. </div>
                                  </div>
                                </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION FAQ -->



<!-- START NEWSLETTER SECTION -->
<section class="bg_navy_blue_dark">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 offset-lg-3">
            	<div class="title_default_light title_border text-center">
                    <h4 class="footer_title animation" data-animation-delay="0.2s" data-animation="fadeInUp">Don't Miss ICO News And Updates!</h4>
                    <p class="text-white m-0 animation" data-animation-delay="0.4s" data-animation="fadeInUp">By subscribing to our mailing list you will always be<br class="d-none d-md-block"> update with the latest news from us.</p>
                </div>
                <div class="newsletter_form newslattter_small my-2 my-md-5">
                <form class="subscribe_form animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                    <input class="input-rounded" type="text" required placeholder="Enter Email Address"/>
                  <button type="submit" title="Subscribe" class="btn-info" name="submit" value="Submit"> Subscribe </button>
                </form>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END NEWSLETTER SECTION -->
{% endblock content %}
