{% extends "accounts/base-account.html" %}


{% block account_ti %}
<h6 class="my-4 text-center text-uppercase">Reset Password</h6>
<p class="small text-center">Enter your email address and we will send you instructions on how to reset your password.
</p>
{% endblock account_ti %}


{% block form %}
<form method="POST">
  {% csrf_token %}
  <div class="form-group text-right">
    <label for="email">ایمیل</label>
    <input class="form-control" id="email" name="email" type="email" placeholder="ایمیل" required>
  </div>
  <button type="submit" class="btn btn-default btn-block" href="login.html">Reset Password</button>
</form>
<div class="text-center mt-3">
  <a class="d-block small" href="login.html"><i class="icon-arrow-left-circle icons"></i> Back To Login</a>
</div>
{% endblock form %}