{% extends "accounts/base-account.html" %}

{% block titel %}
<title>Change Password</title>
{% endblock titel %}


{% block account_ti %}
<h6 class="my-4 text-center text-uppercase">تغییر پسورد</h6>
{% endblock account_ti %}
    
{% block form %}
<form method="POST">
    {% csrf_token %}
    <div class="form-group text-right">
      <input class="form-control" id="id_old_password " name="old_password " type="password"  required  placeholder="رمز عبور خود را وارد کنید">
    </div>
    <div class="form-group text-right">
        <input class="form-control" id="id_new_password1" name="new_password1" type="password" placeholder=" رمز عبور جدید" required>
      </div>
    <div class="form-group text-right">
      <input class="form-control" id="id_new_password2" name="new_password2" type="password"  required  placeholder="تایید رمز عبور">
    </div>
    <button type="submit" class="btn btn-default btn-block">ثبت</button>
  </form>
{% endblock form %}
  
