{% extends "accounts/base-account.html" %}

{% block titel %}
<title>login</title>
{% endblock titel %}

{% block form %}
<form method="POST">
    {% csrf_token %}
    <div class="form-group text-right">
        <label for="email">ایمیل</label>
        <input class="form-control" id="email" name="email" type="email" placeholder="ایمیل" required>
      </div>
    <div class="form-group text-right">
      <label for="password">پسورد</label>
      <input class="form-control" id="password" name="password" type="password"  required  placeholder="پسورد">
    </div>
    <button type="submit" class="btn btn-default btn-block">ورود</button>
    
  </form>
  <div class="text-center mt-3 justify-content-between d-md-flex">
    <a class="d-block small" href="register.html">ایجاد اکانت جدید</a>
    <a class="d-block small" href="forgot-password.html">فراموش کردن پسورد</a>
  </div>
{% endblock form %}
  