{% extends 'base-admin.html' %}
{% load static %}


{% block content %}
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="main-content col-lg-8">
                <div class="content-area card">
                    <div class="card-innr">
                        <div class="card-head">
                            <h4 class="card-title">جزییات پروفایل</h4>
                        </div>
                        <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab"
                                    href="#personal-data">اطلاعات شخصی </a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#settings">تنظیمات</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#password">پسورد</a>
                            </li>
                        </ul><!-- .nav-tabs-line -->
                        <div class="tab-content" id="profile-details">
                            <div class="tab-pane fade show active" id="personal-data">
                                <form action="#">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-item input-with-label"><label for="full-name"
                                                    class="input-item-label">نام کاربری</label><input
                                                    class="input-bordered" type="text" id="full-name" name="full-name"
                                                    value="Stefan Harary"></div>
                                            <!-- .input-item -->
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-item input-with-label"><label for="full-name"
                                                    class="input-item-label">نام </label><input
                                                    class="input-bordered" type="text" id="full-name" name="full-name"
                                                    value="Stefan Harary"></div>
                                            <!-- .input-item -->
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-item input-with-label"><label for="full-name"
                                                    class="input-item-label">نام خانوادگی</label><input
                                                    class="input-bordered" type="text" id="full-name" name="full-name"
                                                    value="Stefan Harary"></div>
                                            <!-- .input-item -->
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-item input-with-label"><label for="email-address"
                                                    class="input-item-label">ایمیل</label><input class="input-bordered"
                                                    type="text" id="email-address" name="email-address"
                                                    value="info@softnio.com" disabled></div>
                                            <!-- .input-item -->
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-item input-with-label"><label for="mobile-number"
                                                    class="input-item-label">شماره موبایل</label><input
                                                    class="input-bordered" type="text" id="mobile-number"
                                                    name="mobile-number"></div><!-- .input-item -->
                                        </div>
                                    </div><!-- .row -->
                                    <div class="gaps-1x"></div><!-- 10px gap -->
                                    <div class="d-sm-flex justify-content-between align-items-center"><button
                                            class="btn btn-primary">بروزرسانی پروفایل</button>
                                        <div class="gaps-2x d-sm-none"></div><span class="text-success"><em
                                                class="ti ti-check-box"></em> همه تغییرات ذخیره شد</span>
                                    </div>
                                </form><!-- form -->
                            </div><!-- .tab-pane -->
                            <div class="tab-pane fade" id="settings">
                                <div class="pdb-1-5x">
                                    <h5 class="card-title card-title-sm text-dark">حریم خصوصی و امنیت</h5>
                                </div>
                                <div class="input-item"><input type="checkbox" class="input-switch input-switch-sm"
                                        id="save-log" checked><label for="save-log">فعالیت های ورود من را ذخیره
                                        کن</label>
                                </div>
                                <div class="input-item"><input type="checkbox" class="input-switch input-switch-sm"
                                        id="pass-change-confirm"><label for="pass-change-confirm">قبل از تغییر رمز عبور
                                        از طریق ایمیل تایید می کنم</label></div>
                                <div class="pdb-1-5x">
                                    <h5 class="card-title card-title-sm text-dark">مدیریت اعلان</h5>
                                </div>
                                <div class="input-item"><input type="checkbox" class="input-switch input-switch-sm"
                                        id="latest-news" checked><label for="latest-news">آخرین اخبار خرید و فروش را با
                                        ایمیل به من اطلاع دهید</label></div>
                                <div class="input-item"><input type="checkbox" class="input-switch input-switch-sm"
                                        id="activity-alert" checked><label for="activity-alert">از فعالیت های غیرمعمول
                                        با ایمیل به من اطلاع دهید.</label></div>
                                <div class="gaps-1x"></div>
                                <div class="d-flex justify-content-between align-items-center"><span></span><span
                                        class="text-success"><em class="ti ti-check-box"></em> تنظیمات بروز شد</span>
                                </div>
                            </div><!-- .tab-pane -->
                            <div class="tab-pane fade" id="password">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-item input-with-label"><label for="old-pass"
                                                class="input-item-label">پسورد قدیمی</label><input
                                                class="input-bordered" type="password" id="old-pass" name="old-pass">
                                        </div><!-- .input-item -->
                                    </div><!-- .col -->
                                </div><!-- .row -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-item input-with-label"><label for="new-pass"
                                                class="input-item-label">پسورد جدید</label><input class="input-bordered"
                                                type="password" id="new-pass" name="new-pass">
                                        </div><!-- .input-item -->
                                    </div><!-- .col -->
                                    <div class="col-md-6">
                                        <div class="input-item input-with-label"><label for="confirm-pass"
                                                class="input-item-label">تایید پسورد جدید</label><input
                                                class="input-bordered" type="password" id="confirm-pass"
                                                name="confirm-pass"></div><!-- .input-item -->
                                    </div><!-- .col -->
                                </div><!-- .row -->
                                <div class="note note-plane note-info pdb-1x"><em class="fas fa-info-circle"></em>
                                    <p>رمز عبور باید حداقل 8 حرف باشد و شامل نام های کوچک و بزرگ باشد.
                                    </p>
                                </div>
                                <div class="gaps-1x"></div><!-- 10px gap -->
                                <div class="d-sm-flex justify-content-between align-items-center"><button
                                        class="btn btn-primary">Update</button>
                                    <div class="gaps-2x d-sm-none"></div><span class="text-success"><em
                                            class="ti ti-check-box"></em> تغییر رمز عبور</span>
                                </div>
                            </div><!-- .tab-pane -->
                        </div><!-- .tab-content -->
                    </div><!-- .card-innr -->
                </div><!-- .card -->

            </div><!-- .col -->
            <div class="aside sidebar-right col-lg-4">
                <div class="account-info card">
                    <div class="card-innr">
                        <h6 class="card-title card-title-sm">وضعیت حساب شما</h6>
                        <ul class="btn-grp">
                            <li><a href="#" class="btn btn-auto btn-xs btn-success">ایمیل تأییده شده است</a></li>
                            <li><a href="#" class="btn btn-auto btn-xs btn-warning">احراز هویت در انتظار است</a></li>
                        </ul>
                        <div class="gaps-2-5x"></div>
                    </div>
                </div>

                <div class="kyc-info card">
                    <div class="card-innr">
                        <h6 class="card-title card-title-sm">تایید هویت</h6>
                        <p>برای پیروی از مقررات، کاربر باید تایید هویت شود.
                        </p>
                        <p class="lead text-light pdb-0-5x">شما درخواست تایید هویت خود را ارائه ندادهاید.</p><a
                            href="{% url 'account:kyc-form' %}" class="btn btn-primary btn-block">برای ادامه کلیک
                            کنید</a>
                        <h6 class="kyc-alert text-danger">* تایید هویت برای خرید و فروش الزامی است.</h6>
                    </div>
                </div>
            </div><!-- .col -->
        </div><!-- .container -->
    </div><!-- .container -->
</div><!-- .page-content -->
{% endblock content %}