{% extends 'base-admin.html' %}
{% load static %}



{% block content %}
<div class="page-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-9">
                <div class="kyc-form-steps card mx-lg-4">
                    
                    <div class="form-step form-step3">
                        <div class="form-step-head card-innr">
                            <div class="step-head">
                                <div class="step-number">1</div>
                                <div class="step-head-text">
                                    <h4>اطلاعات بانکی</h4>
                                    <p>اطلاعات کارت بانکی خود را وارد کنید.</p>
                                </div>
                            </div>
                        </div><!-- .step-head -->

                        <div class="form-step-fields card-innr">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-item input-with-label">
                                        <h5 class="text-secondary font-bold">کارت بانکی باید با مدارک و اطلاعات شخصی مطابقت
                                            داشته باشد.</h5>
                                        <label for="swalllet"></label>
                                        <input class="form-control" id="bank_card_number" name="bank_card_number"
                                            type="number" placeholder="شماره کارت بانک" required>
                                    </div><!-- .input-item -->
                                </div><!-- .col -->
                            </div><!-- .row -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-item input-with-label">
                                        <label for="swalllet"></label>
                                        <input class="form-control" id="bank_card_number" name="bank_card_number"
                                            type="number" placeholder="شماره شبا بانک" required>
                                    </div><!-- .input-item -->
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div>


                        <div class="form-step form-step-final">
                            <div class="form-step-fields card-innr">
                                <div class="input-item"><input class="input-checkbox input-checkbox-md"
                                        id="term-condition" type="checkbox"><label for="term-condition">موافقت با
                                        <a href="#">شرایط</a> و <a href="#"> حفظ حریم خصوصی.</a></label>
                                </div>
                                <div class="input-item"><input class="input-checkbox input-checkbox-md"
                                        id="info-currect" type="checkbox"><label for="info-currect">تمام اطلاعات شخصی که
                                        وارد کردم صحیح است</label></div>
                                <div class="gaps-1x"></div><a href="kyc-thank-you.html" class="btn btn-primary">ارسال
                                    مدارک برای تأیید</a>
                            </div><!-- .step-fields -->
                        </div>
                    </div><!-- .card -->
                </div>
            </div>
        </div><!-- .container -->
    </div><!-- .page-content -->
    {% endblock content %}